mixin plano(img, tit, listArr, precoArr, link, dest)
    div(class=dest ? 'ls-plano ls-plano--red': 'ls-plano')
        div.ls-plano__content
            figure.ls-plano__fig                
                img(src=require(`./img/cartoes/${img}`) alt=`Imagem do cartão ${tit}` width="200" height="125" ).ls-plano__img
                
            strong.ls-plano__tit= tit

            ul.ls-list
                each item in listArr 
                    li.ls-list__item= item
        
        div.ls-plano__price
            div.row
                div.col-lg-6
                    div.ls-price
                        span.ls-price__cifra= precoArr.cifra
                        strong.ls-price__decimal= precoArr.decimal
                        span.ls-price__cents= precoArr.cents
                        span.ls-price__mouth= precoArr.mouth
                div.col-lg-6
                    a(href=link).ls-btn Associe-se

- 
    var objContents = [
        { 
            img: 'cartao1.png',
            tit: 'Leão kids', 
            listArr: [
                'Desconto de 100% no ingresso para jogos em que o fortaleza for mandante', 
                'Menores de 12 anos',
                'Entradas exclusivas',
                'Clube de vantagens', 
                'Não há opção para inclusão de dependentes'
            ],
            precoArr: { 
                cifra: 'r$', 
                decimal: '24', 
                cents: ',90', 
                mouth: '/mês' 
            }, 
            link: '#', 
            dest: ''
        }, 
        { 
            img: 'cartao2.png',
            tit: 'Leão fiel', 
            listArr: [
                'Desconto de 100% no ingresso para jogos em que o fortaleza for mandante', 
                'Menores de 12 anos',
                'Clube de vantagens',
                'Não há opção para inclusão de dependentes', 
            ], 
            precoArr: { 
                cifra: 'r$', 
                decimal: '44', 
                cents: ',90', 
                mouth: '/mês'
            }, 
            link: '#', 
            dest: '1' 
        },
         { 
            img: 'cartao3.png',            
            tit: 'Leão de aço', 
            listArr: [
                'Desconto de 100% no ingresso para jogos em que o fortaleza for mandante',
                'Entradas exclusivas',
                'Clube de vantagens',
                'Inclusão de até 3 dependentes'
            ], 
            precoArr: { 
                cifra: 'r$', 
                decimal: '69', 
                cents: ',90', 
                mouth: '/mês'
            }, 
            link: '#', 
            dest: '' 
        },
        { 
            img: 'cartao4.png',            
            tit: 'Leão do Pici', 
            listArr: [
                'Desconto de 100% no ingresso para jogos em que o Fortaleza for mandante',
                'Opção para inclusão de 2 dependentes',
                'Entradas exclusivas',
                'Clube de vantagens',
                'Movimento por um Futebol Melhor'
            ], 
            precoArr: { 
                cifra: 'r$', 
                decimal: '139', 
                cents: ',90', 
                mouth: '/mês'
            }, 
            link: '#', 
            dest: '' 
        },
    ]; 


// SECTION
section#planos.ls-planos
      div.container
        h2.tit-pri.tit-pri--red Planos

        div.slick-planos
            each content, index in objContents                       
                +plano(content.img, content.tit, content.listArr, content.precoArr, content.link, content.dest)